<section>
  <div class="pos-panel">

   <div class="row">
     <div class="col-lg-6 col-sm-12"  >
    <div class="panel panel-default">
      <div class="panel-heading">Amount of users per providers</div>
      <div class="panel-body">
        <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series" legend="true"
                options="bar.options"></canvas>
      </div>
    </div>
</div>
     <div class="col-lg-6 col-sm-12" >
       <div class="panel panel-default">
         <div class="panel-heading">Turn Over</div>
         <div class="panel-body">
           
         </div>
       </div>
     </div>
   </div>

  </div>
</section>
